<form action="<%= albums_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">

  <label for="album_title">Album
    <input type="text" name="album[title]">
  </label>

  <label for="album_band">Artist
    <% albums.each do |album| %>
    <option value="<% album.artist %>"> <%= album.artist %> </option>
    <!-- <select>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select> -->
  </label>
</form>
